/tests/datasets/*
/examples/datasets/*
.idea/*
.DS_Store
*.pyc
/tests/tmp_autokaggle-tmp-3/
/examples/old/
__pycache__/
/tests/config/
/.pytest_cache/
._*
test.py
log_ml.txt
/examples/run_rp_benchmark.sh