/tests/datasets/*
/examples/datasets/*
.idea/*
.DS_Store
*.pyc
/tests/tmp_autokaggle-tmp-3/
/examples/old/
__pycache__/
/tests/config/
/.pytest_cache/
._*
test.py
*.sh
*.log.txt
_rp_benchmark_latest.py
_rp_benchmark_10m.py
search_1/